/**************\
*** External ***
\**************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

/************\
*** Global ***
\************/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(217, 249, 244);
    --secondary-color: rgb(156, 216, 222);
    --menu-color: rgba(217, 249, 244, 0.7);
    --content-color: #4562b6;
    --primary-title-color: rgb(0, 40, 170);
    --secondary-title-color: rgb(25, 140, 200);
    --header-color: rgb(240, 255, 250);
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    position: fixed;
    background: var(--menu-color);
    z-index: 100;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--header-color);
}

main {
    display: grid;
    grid-template-areas:
        "about experience"
        "skills skills"
        "projects projects"
        "contact contact";
    gap: 1.5rem;
    padding: 1.5rem;
}

main > * {
    padding: 2rem;
}

main > section {
    color: var(--content-color);
    background: var(--header-color);
    border-radius: 2rem;
    line-height: 1.5rem;
}

main > section .primary-title {
    margin-bottom: 2.5rem;
    color: var(--primary-title-color);
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
}
main > section .secondary-title {
    color: var(--secondary-title-color);
    margin: 1rem 0;
    font-size: 1.5rem;
}

main > section p,
main > section ul {
    margin: 0 0.5rem;
}

main > section ul {
    list-style-type: none;
}

/************\
*** Blocks ***
\************/
/* Navbar */
.nav-wrapper {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}

.nav-logo {
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025rem;
}

/* .nav-menu {
} */

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    padding: 0.5rem 1rem;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.011em;
}

/* Profile */
.profile {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    animation: load-profile-img 2s ease-out;
}

.profile-img img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 63%;
    box-shadow: 5px 10px 15px 7px rgba(255, 97, 107, 0.5),
        10px 5px 15px 7px rgba(228, 136, 255, 0.5),
        -10px 0px 15px 5px rgba(140, 255, 133, 0.5),
        -10px -5px 15px 5px rgba(255, 228, 138, 0.5),
        5px -10px 15px 5px rgba(255, 128, 128, 0.5);
}

.profile-title {
    color: var(--primary-title-color);
    animation: load-profile-title 2s ease-out;
}

.profile-title h2 {
    color: var(--secondary-title-color);
}

@keyframes load-profile-img {
    from {
        opacity: 0;
        transform: translateY(-100vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load-profile-title {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About */
#about {
    grid-area: about;
    /* height: 100vh; */
}

/* Experience */
#experience {
    grid-area: experience;
    min-width: 525px;
}

/* Skills */
#skills {
    grid-area: skills;
}

.skills__content {
    display: flex;
    justify-content: space-around;
}

.skills__content li {
    margin: 5px;
    font-size: 1.2rem;
}

/* Projects */
#projects {
    grid-area: projects;
}

/* Personal */
#personal {
    grid-area: personal;
}

/* Contact */
#contact {
    grid-area: contact;
}

/**************\
*** Elements ***
\**************/
/* Navbar */
/* Profile */
/* About */
/* Experience */
/* Skills */
.skills-list__item::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    background: none no-repeat center center/ cover;
    background-size: 1.5rem 1.5rem;
}

/* Projects */
/* Personal */
/* Contact */
.contact-details__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-details__list-item {
    padding: 0 10px;
}

.contact-details__title {
    color: var(--primary-title-color);
    font-size: 1.2rem;
}

/***************\
*** Modifiers ***
\***************/
/* Navbar */
/* Profile */
/* About */
/* Experience */
/* Skills */
.skills-list__item--docker::before {
    background-image: url("https://api.iconify.design/logos/docker-icon.svg");
}

.skills-list__item--kubernetes::before {
    background-image: url("https://api.iconify.design/logos/kubernetes.svg");
}

.skills-list__item--helm::before {
    background-image: url("https://api.iconify.design/vscode-icons/file-type-helm.svg");
}

.skills-list__item--nginx::before {
    background-image: url("https://api.iconify.design/logos/nginx.svg");
}

.skills-list__item--c::before {
    background-image: url("https://api.iconify.design/logos/c.svg");
}

.skills-list__item--cs::before {
    background-image: url("https://api.iconify.design/logos/c-sharp.svg");
}

.skills-list__item--python::before {
    background-image: url("https://api.iconify.design/logos/python.svg");
}

.skills-list__item--html::before {
    background-image: url("https://api.iconify.design/logos/html-5.svg");
}

.skills-list__item--css::before {
    background-image: url("https://api.iconify.design/logos/css-3.svg");
}

.skills-list__item--js::before {
    background-image: url("https://api.iconify.design/logos/javascript.svg");
}

.skills-list__item--linux::before {
    background-image: url("https://api.iconify.design/heroicons-outline/desktop-computer.svg");
}

.skills-list__item--bash::before {
    background-image: url("https://api.iconify.design/logos/bash-icon.svg");
}

.skills-list__item--powershell::before {
    background-image: url("https://api.iconify.design/vscode-icons/file-type-powershell.svg");
}

.skills-list__item--ansible::before {
    background-image: url("https://api.iconify.design/logos/ansible.svg");
}

/* Projects */
/* Personal */
/* Contact */

@media (max-width: 1005px) {
}
